<mat-accordion multi="true" *ngIf="users.length > 0">
  <app-user></app-user>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      {{ user.user_email }}
    </mat-expansion-panel-header>
    <p>User Id: {{ user.user_id }}</p>
    <p>First Name: {{ user.user_first_name }}</p>
    <p>Middle Name: {{ user.user_middle_name }}</p>
    <p>Last Name: {{ user.user_last_name }}</p>
    <p>Phone Number: {{ user.user_phone }}</p>
    <mat-action-row>
      <!-- <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a> -->
      <button mat-button color="warn" (click)="onDelete(user.user_id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="usersSizeOptions" (page)="onChangedPage($event)"
  *ngIf="users.length > 0">
</mat-paginator> -->

<p class="info-text mat-body-1" *ngIf="users.length <= 0">No users added yet!</p>
